<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>

<body>
    <h1>欢迎来到注册页面</h1>
    <form action="/api/account" method="post" enctype="multipart/form-data">
        <label for="name">书名:</label>
        <input type="text" id="name" name="name"   required>
        <label for="author">作者:</label>
        <input type="author" id="author"   name="author" required>
        <label for="price">价格:</label>
        <input type="price" id="price"   name="price" required>
        <select id="is_hot" name="is_hot">
            <option value="1">热卖</option>
            <option value="0">不热卖</option>  
        </select>  
        <label for="file">Upload file:</label>
        <input type="file" id="file" name="file">
        <input type="submit" value="Submit">
    </form>

</body>

</html>